ul.flex.center.middle
  li
    a.clean.logo("ng-home-link"=true, "href"="{{ vm.homeHref }}" ng-if="vm.userType != 'member'")
      img(src="/images/asp-logo.svg")

    img(src="/images/asp-logo.svg" ng-if="vm.userType == 'member'")

  li.app-name
    a(ng-if="vm.showAppName && vm.userType == 'customer' " ui-sref="timeline({workId: vm.workId})")
      h4 {{vm.appName}}

    a(ng-if="vm.showAppName && vm.userType != 'customer' " ui-sref="copilot-project-details({ id: vm.workId })")
      h4 {{vm.appName}}

  li
    ul.links(ng-if="vm.userType != 'member'")
      li.dashboard(ng-show="vm.loggedIn")
        a(ng-if="vm.userType == 'customer' " ui-sref="view-work-multiple") Dashboard

        a(ng-if="vm.userType != 'customer' " ui-sref="copilot-projects") Dashboard

      li.projects(ng-show="vm.loggedIn")
        button.clean(focus-on-click=true) Projects <span class="caret">&dtrif;</span>

        project-drop-down.drop-down.transition.elevated(user-type="{{ vm.userType }}")

      li.login(ng-hide="vm.loggedIn")
        a.button.hollow(ui-sref="login") Log in

      li.profile(ng-show="vm.loggedIn")
        button.clean(focus-on-click=true)
          avatar(avatar-url="{{vm.userAvatar}}")

        user-drop-down.drop-down.transition.elevated

      li.notifications(ng-show="vm.loggedIn")
        button.clean(type="button" focus-on-click=true)
          .notification(ng-class="{ danger: vm.unreadCount > 0 }") {{ vm.unreadCount || 0 }}

        message-drop-down.drop-down.transition.elevated(
          ng-if="vm.userType == 'customer'"
          subscriber-id="{{ vm.subscriberId }}"
        )

        message-drop-down.drop-down.transition.elevated(
          ng-if="vm.userType != 'customer'"
          subscriber-id="{{ vm.subscriberId }}"
          user-type="copilot"
        )


